@font-face {
    font-family: 'PingFangSCBold';
    src: url('../fonts/PingFangSCBold/PingFangSCBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('../fonts/YouSheBiaoTiHei/YouSheBiaoTiHei-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul,li{
    list-style: none;
}

html,body{
    background: transparent !important;
    //font-family: PingFangSCBold, serif;
}

#app {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* 滚动条样式 */
* {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        box-shadow: 0 0 5px #e7eaea;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #c1c1c0;
        border-radius: 3px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 3px;
    }
}
.ivu-layout{
    background-color: transparent;
}
