//默认设计稿的宽度
$width: 1920;
//默认设计稿的高度
$height: 1080;


//px转为vw的函数
@function vw($px) {
    @return calc($px / $width) * 100vw;
}

//px转为vh的函数
@function vh($px) {
    @return calc($px / $height) * 100vh;
}
