/**
    表单组件样式重写
 */

// massage样式重写  开始
.ivu-message-notice-content {
  padding: vh(10) vw(15);
}

.ivu-message-custom-content {
  display: flex;
  align-items: center;
  height: vh(24);
}

.ivu-message .ivu-icon {
  margin-right: vw(10);
}

// massage样式重写  结束

.ivu-form-item {
  margin-bottom: vh(40);
}

// 去掉单行文本、多行文本、日期选择器、下拉选择、radio、checkbox、数字输入框、开关 选中状态的阴影
.ivu-input,
.ivu-select-visible .ivu-select-selection,
.ivu-form-item-error .ivu-input:focus,
.ivu-radio-focus,
.ivu-checkbox-focus,
.ivu-switch, input,
.ivu-input-number {
  box-shadow: none !important;
  height: vh(40);
  background: $bg-gray;
  padding: vh(12) vw(20);
  border: 0;
}

.ivu-input-small {
  height: vh(32);
}

// input、select 边框样式重写
.ivu-input,
.ivu-select-selection,
.ivu-input-number {
  border-radius: vw(2);
  border-color: $border-default;
}

.ivu-input:focus,
.ivu-input:hover,
.ivu-input-number:hover,
.ivu-date-picker-focused input:not([disabled]),
.ivu-select-selection-focused,
.ivu-select-selection:hover,
.ivu-select-visible .ivu-select-selection {
  border-color: $theme-color;
}

// 文本框、单选框、多选框左侧间距调整
.ivu-input,
.ivu-select-multiple .ivu-select-selection,
.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  padding-left: vw(10);
}

.ivu-select-multiple .ivu-select-selection .ivu-select-placeholder {
  padding-left: 0;
}

// select 多选标签样式重写
.ivu-select-multiple .ivu-select-selection {
  padding-bottom: vh(4);
}

.ivu-select-multiple .ivu-select-selection .ivu-select-placeholder {
  height: vh(26);
}

.ivu-select-multiple .ivu-tag {
  height: vh(22);
  border: none;
  margin-top: vh(4);
  margin-bottom: 0;
  margin-right: vw(7);
  padding: 0 vw(5);
  border-radius: 0;
  background: $tag-bg;
  color: $font-dark;
}

.ivu-icon-ios-close:before {
  display: none;
}

.ivu-icon.ivu-icon-ios-close {
  display: block;
  width: vw(8);
  height: vw(8);
  background-image: url('data:image/svg+xml;utf8,<svg t="1700569989619" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6212" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="8"><path d="M600.63744 512l418.46784 418.44736-91.09504 91.09504L509.5424 603.07456 91.11552 1021.5424 0 930.44736 418.46784 512 0 93.53216 91.09504 2.4576 509.5424 420.90496 928.01024 2.4576l91.07456 91.07456L600.63744 512z" p-id="6213" fill="%239499A5" /></svg>');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transform: scale(1) rotate(0);
}

.ivu-select-multiple .ivu-tag i {
  top: vh(7);
  right: vw(5);
}

//.ivu-input{
//    height: 40px;
//    background: $bg-gray;
//    padding: 12px 20px;
//    border: 0;
//}

// select 下拉框样式重写
.ivu-select {
  position: relative;

  .ivu-select-dropdown {
    right: 0;
    margin-top: vh(3);
    padding: vh(10) 0 vh(10) vw(10);

    .ivu-select-dropdown-list {
      max-height: vh(180);
      overflow: auto;

      .ivu-select-item {
        position: relative;
        height: vh(32);
        margin-bottom: vh(4);
        margin-right: vw(10);
        padding: 0 vw(10);
        line-height: vh(32);
        font-size: vw(14);
        color: $font-dark;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:after {
          display: none;
        }

        &:hover {
          background: $hover-color;
          padding-left: vw(26);
          transition: all 0.2s ease-in-out;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .ivu-select-item-focus {
    background: #fff;
  }

  .ivu-select-item-selected {
    background: $theme-color;
    color: $white !important;
    padding-left: vw(26) !important;

    &:before {
      position: absolute;
      left: vw(10);
      top: vh(13);
      display: block;
      width: vw(6);
      height: vw(6);
      border-radius: 50%;
      background: #fff;
      content: '';
    }

    &:hover {
      background: $theme-color !important;
    }
  }
}

// 右侧按钮重写
.ivu-icon-ios-arrow-down {
  right: vw(10) !important;;
  width: vw(10);
  height: vw(10);
  background-image: url('data:image/svg+xml;utf8,<svg t="1757473662752" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1862" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><path d="M103.69024 204.8L0 308.4288l512 512.47104 512-512.45056L920.30976 204.8 512 613.29408 103.66976 204.8z" p-id="1863" fill="%239499A5" /></svg>');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ivu-icon-ios-arrow-down:before,
.ivu-icon-ios-close-circle:before {
  display: none;
}

.ivu-icon-ios-close-circle {
  right: vw(10) !important;
  width: vw(10);
  height: vw(10);
  background-image: url('data:image/svg+xml;utf8,<svg t="1757473629798" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1152" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><path d="M600.63744 509.5424l418.46784 418.46784-91.09504 91.07456L509.5424 600.63744 91.11552 1019.0848 0 928.01024 418.46784 509.5424 0 91.09504 91.09504 0 509.5424 418.44736 928.01024 0l91.07456 91.09504L600.63744 509.5424z" p-id="1153" fill="%239499A5" /></svg>');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.ivu-input-icon-clear {
  top: vh(11);
}

.ivu-input-suffix {
  right: vw(10);
  top: vh(9);
  width: vw(12);
  height: vw(12);

  .svg-icon {
    display: block;
    width: vw(12) !important;
    height: vw(12) !important;
  }
}

.ivu-date-picker {
  .ivu-input-suffix {
    top: 0;

    .ivu-icon-ios-close-circle {
      position: absolute;
      top: vh(10) !important;
      right: 0 !important;
    }
  }
}

// 禁用样式
.ivu-input[disabled],
fieldset[disabled] .ivu-input,
.ivu-input-number-disabled .ivu-input-number-input,
.ivu-select-disabled .ivu-select-selection {
  background-color: $form-bg-disabled;
}

// 单选按钮、多选按钮
.ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: $theme-color;
  background-color: $theme-color;
}

.ivu-radio-checked .ivu-radio-inner {
  border-color: $theme-color;
}

.ivu-radio-inner:after {
  background-color: $theme-color;
}

.ivu-radio-disabled .ivu-radio-inner {
  border-color: #f3f3f3 !important;
}

.ivu-checkbox-label-text {
  padding-left: vw(10);
}

.ivu-checkbox-wrapper, .ivu-radio-wrapper {
  margin-right: vw(20);
}

.ivu-radio {
  margin-right: vw(10);
}

.ivu-checkbox + span, .ivu-checkbox-wrapper + span {
  margin-right: 0;
}


// switch
.ivu-switch-checked {
  border-color: $theme-color;
  background-color: $theme-color;
}

// 校验样式
.ivu-form-item-error .ivu-input,
.ivu-form-item-error .ivu-input-number,
.ivu-form-item-error .ivu-select-selection,
.ivu-form-item-error .ivu-select-visible .ivu-select-selection {
  border-color: $remind-red !important;
}

.ivu-form-item-error-tip {
  padding-top: vh(5);
  color: $remind-red;
  right: 0;
  left: 0;
  text-align: right;
}

.ivu-form-item-required .ivu-form-item-label:before {
  display: none;
}

.ivu-form-item-required .ivu-form-item-label:after {
  content: '*';
  display: inline-block;
  line-height: 1;
  font-size: vw(14);
  color: #ed4014;
}

// dropdown
.ivu-select-dropdown {
  margin-top: vh(3);
  padding: vh(10) 0 vh(6);
  border-radius: vw(2);
  filter: drop-shadow(0 0 vw(6) rgba(0, 0, 0, 0.10));

  .ivu-dropdown-menu {
    max-height: vh(216);
    padding: 0 vw(10);
    overflow: auto;

    .ivu-dropdown-item {
      height: vh(32);
      margin-bottom: vh(4);
      padding: 0 vw(10);
      line-height: vh(32);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 0.2s ease-in-out;

      &:hover {
        padding-left: vw(26);
        background-color: $hover-color;
      }
    }
  }
}

.ivu-picker-panel-sidebar {
  border-radius: vw(2);
}

.ivu-picker-panel-shortcut:hover {
  background-color: $theme-color;
  color: #fff;
}


// radio 样式
.custom-radio {
  .ivu-radio-wrapper, .ivu-radio-group-item, .ivu-radio-default {
    width: vw(190);
    height: vh(40);
    border-radius: vw(2);
    background: $bg-gray;
    color: $font-dark;
    font-size: vw(16);
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: vh(40);

    &.ivu-radio-wrapper-checked {
      color: $theme-color;
      background: linear-gradient(0deg, #FFF8F2 0%, #FFF8F2 100%), #E8EAEC;
    }
  }

  .ivu-radio-wrapper:last-of-type {
    margin: 0 !important;
  }

  .ivu-radio {
    display: none;
  }
}

// 日期选择
.custom-date_picker {
  .ivu-date-picker, .ivu-select-dropdown, .ivu-picker-panel-body {
    width: 100%;
  }

  .ivu-date-picker-cells {
    width: auto;
    padding: vw(20);
    margin: 0;

    .ivu-date-picker-cells-cell {
      width: vw(100);
      height: vh(32);
      margin: 0 0 vh(17) 0;

      em {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: vh(32);
      }
    }

    .ivu-date-picker-cells-cell:nth-of-type(2), .ivu-date-picker-cells-cell:nth-of-type(5), .ivu-date-picker-cells-cell:nth-of-type(8), .ivu-date-picker-cells-cell:nth-of-type(11) {
      margin: 0 vw(30);
    }

    .ivu-date-picker-cells-cell:nth-of-type(10), .ivu-date-picker-cells-cell:nth-of-type(11), .ivu-date-picker-cells-cell:nth-of-type(12) {
      margin-bottom: vh(0);
    }

    .ivu-date-picker-cells-cell-selected em, .ivu-date-picker-cells-cell-selected:hover em {
      background: $theme-color;
    }

    .ivu-date-picker-cells-cell:hover em {
      background: $hover-color
    }
  }
}
