/**
    表单组件样式重写
 */

// massage样式重写  开始
.ivu-message-notice-content{
    padding: 10px 15px;
}
.ivu-message-custom-content{
    display: flex;
    align-items: center;
    height: 24px;
}
.ivu-message .ivu-icon{
    margin-right: 10px;
}
// massage样式重写  结束

.ivu-form-item{
    margin-bottom: 40px;
}

// 去掉单行文本、多行文本、日期选择器、下拉选择、radio、checkbox、数字输入框、开关 选中状态的阴影
.ivu-input,
.ivu-select-visible .ivu-select-selection,
.ivu-form-item-error .ivu-input:focus,
.ivu-radio-focus,
.ivu-checkbox-focus,
.ivu-switch,
.ivu-date-picker-focused input,
.ivu-input-number{
    box-shadow: none !important;
    height: 40px;
    background: $bg-gray;
    padding: 12px 20px;
    border: 0;
}
.ivu-input-small{
    height: 32px;
}

// input、select 边框样式重写
.ivu-input,
.ivu-select-selection,
.ivu-input-number{
    border-radius: 2px;
    border-color: $border-default;
}
.ivu-input:focus,
.ivu-input:hover,
.ivu-input-number:hover,
.ivu-date-picker-focused input:not([disabled]),
.ivu-select-selection-focused,
.ivu-select-selection:hover,
.ivu-select-visible .ivu-select-selection{
    border-color: $theme-color;
}

// 文本框、单选框、多选框左侧间距调整
.ivu-input,
.ivu-select-multiple .ivu-select-selection,
.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    padding-left: 10px;
}
.ivu-select-multiple .ivu-select-selection .ivu-select-placeholder{
    padding-left: 0;
}

// select 多选标签样式重写
.ivu-select-multiple .ivu-select-selection{
    padding-bottom: 4px;
}
.ivu-select-multiple .ivu-select-selection .ivu-select-placeholder{
    height: 26px;
}
.ivu-select-multiple .ivu-tag{
    height: 22px;
    border: none;
    margin-top: 4px;
    margin-bottom: 0;
    margin-right: 7px;
    padding: 0 5px;
    border-radius: 0;
    background: $tag-bg;
    color: $font-dark;
}
.ivu-icon-ios-close:before {
    display: none;
}
.ivu-icon.ivu-icon-ios-close {
    display: block;
    width: 8px;
    height: 8px;
    background-image: url('data:image/svg+xml;utf8,<svg t="1700569989619" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6212" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="8"><path d="M600.63744 512l418.46784 418.44736-91.09504 91.09504L509.5424 603.07456 91.11552 1021.5424 0 930.44736 418.46784 512 0 93.53216 91.09504 2.4576 509.5424 420.90496 928.01024 2.4576l91.07456 91.07456L600.63744 512z" p-id="6213" fill="%239499A5" /></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transform: scale(1) rotate(0);
}
.ivu-select-multiple .ivu-tag i{
    top: 7px;
    right: 5px;
}

//.ivu-input{
//    height: 40px;
//    background: $bg-gray;
//    padding: 12px 20px;
//    border: 0;
//}

// select 下拉框样式重写
.ivu-select{
    position: relative;

    .ivu-select-dropdown{
        right: 0;
        margin-top: 3px;
        padding: 10px 0 10px 10px;

        .ivu-select-dropdown-list{
            max-height: 180px;
            overflow: auto;

            .ivu-select-item{
                position: relative;
                height: 32px;
                margin-bottom: 4px;
                margin-right: 10px;
                padding: 0 10px;
                line-height: 32px;
                font-size: 14px;
                color: $font-dark;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:after{
                    display: none;
                }

                &:hover{
                    background: $hover-color;
                    padding-left: 26px;
                    transition: all 0.2s ease-in-out;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    .ivu-select-item-focus {
        background: #fff;
    }
    .ivu-select-item-selected{
        background: $theme-color;
        color: $white !important;
        padding-left: 26px !important;

        &:before{
            position: absolute;
            left: 10px;
            top: 13px;
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
            content: '';
        }

        &:hover{
            background: $theme-color !important;
        }
    }
}
// 右侧按钮重写
.ivu-icon-ios-arrow-down{
    right: 10px !important;;
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml;utf8,<svg t="1757473662752" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1862" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><path d="M103.69024 204.8L0 308.4288l512 512.47104 512-512.45056L920.30976 204.8 512 613.29408 103.66976 204.8z" p-id="1863" fill="%239499A5" /></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.ivu-icon-ios-arrow-down:before,
.ivu-icon-ios-close-circle:before{
    display: none;
}

.ivu-icon-ios-close-circle{
    right: 10px !important;
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml;utf8,<svg t="1757473629798" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1152" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><path d="M600.63744 509.5424l418.46784 418.46784-91.09504 91.07456L509.5424 600.63744 91.11552 1019.0848 0 928.01024 418.46784 509.5424 0 91.09504 91.09504 0 509.5424 418.44736 928.01024 0l91.07456 91.09504L600.63744 509.5424z" p-id="1153" fill="%239499A5" /></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.ivu-input-icon-clear{
    top: 11px;
}
.ivu-input-suffix{
    right: 10px;
    top: 9px;
    width: 12px;
    height: 12px;

    .svg-icon{
        display: block;
        width: 12px !important;
        height: 12px !important;
    }
}
.ivu-date-picker{
    .ivu-input-suffix{
        top: 0;

        .ivu-icon-ios-close-circle{
            position: absolute;
            top: 10px !important;
            right: 0 !important;
        }
    }
}

// 禁用样式
.ivu-input[disabled],
fieldset[disabled] .ivu-input,
.ivu-input-number-disabled .ivu-input-number-input,
.ivu-select-disabled .ivu-select-selection{
    background-color: $form-bg-disabled;
}

// 单选按钮、多选按钮
.ivu-checkbox-checked .ivu-checkbox-inner{
    border-color: $theme-color;
    background-color: $theme-color;
}
.ivu-radio-checked .ivu-radio-inner{
    border-color: $theme-color;
}
.ivu-radio-inner:after{
    background-color: $theme-color;
}
.ivu-radio-disabled .ivu-radio-inner{
    border-color: #f3f3f3 !important;
}
.ivu-checkbox-label-text{
    padding-left: 10px;
}
.ivu-checkbox-wrapper,.ivu-radio-wrapper{
    margin-right: 20px;
}
.ivu-radio{
    margin-right: 10px;
}
.ivu-checkbox+span, .ivu-checkbox-wrapper+span{
    margin-right: 0;
}


// switch
.ivu-switch-checked{
    border-color: $theme-color;
    background-color: $theme-color;
}

// 校验样式
.ivu-form-item-error .ivu-input,
.ivu-form-item-error .ivu-input-number,
.ivu-form-item-error .ivu-select-selection,
.ivu-form-item-error .ivu-select-visible .ivu-select-selection,{
    border-color: $remind-red !important;
}
.ivu-form-item-error-tip{
    padding-top: 5px;
    color: $remind-red;
    right: 0;
    left: 0;
    text-align: right;
}
.ivu-form-item-required .ivu-form-item-label:before{
    display: none;
}
.ivu-form-item-required .ivu-form-item-label:after {
    content: '*';
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    color: #ed4014;
}

// dropdown
.ivu-select-dropdown{
    margin-top: 3px;
    padding: 10px 0 6px;
    border-radius: 2px;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.10));

    .ivu-dropdown-menu{
        max-height: 216px;
        padding: 0 10px;
        overflow: auto;

        .ivu-dropdown-item{
            height: 32px;
            margin-bottom: 4px;
            padding: 0 10px;
            line-height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: all 0.2s ease-in-out;

            &:hover{
                padding-left: 26px;
                background-color: $hover-color;
            }
        }
    }
}

.ivu-picker-panel-sidebar{
    border-radius: 2px;
}
.ivu-picker-panel-shortcut:hover{
    background-color: $theme-color;
    color: #fff;
}
