@use "@/assets/styles/variable.scss" as *;
@use "@/assets/styles/compute.scss" as *;
.ivu-modal-wrap{
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal{
        top: 0;
    }
}
.ivu-modal-content{
    border-radius: 0;
}
.ivu-modal-header{
    padding: vh(15) vw(20);
    border-bottom: none;
}
.ivu-modal-header p,
.ivu-modal-header-inner{
    font-size: vw(14);
    color: $font-dark;
    line-height: vh(22);
    font-weight: bold;
}

.ivu-modal-close{
    top: vh(18);
    right: vw(20);
}
.ivu-modal-close .ivu-icon.ivu-icon-ios-close{
    width: vw(16);
    height: vw(16);
}

.ivu-modal-body{
    padding: vh(25) vw(40) vh(100);
    color: $font-dark;
    line-height: vh(20);
}

.ivu-modal-footer{
    border-top: none;
    padding: 0 vw(20) vh(15) 0;

    .ivu-btn.ivu-btn-text{
        height: vh(32);
        border: vw(1) solid $theme-color;
        padding: 0 vw(20);
    }
}
.ivu-modal-footer button+button{
    margin-left: vw(10);
}
