@use "@/assets/styles/variable.scss" as *;
@use "@/assets/styles/compute.scss" as *;

.ivu-tooltip-inner{
    padding: vh(12) vw(14);
    max-width: vw(600);
}
.ivu-tooltip-popper{
    line-height: vh(20);
}
